<%= form_for @rate, url: admin_create_rate_url, remote: true, html: {style: "width: 500px;"} do |f| %>
  <div class="card">
    <div class="card-header">
      Forced rate
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <%= f.text_field :rate, class: 'form-control', required: true, placeholder: "Rate" %>
        </div>

        <div class="col-md-8 mb-3">
          <%= f.text_field :expires, class: 'form-control datepicker', required: true, placeholder: "Expires" %>
        </div>

      </div>
      <button type="submit" class="btn btn-primary">Submit form</button>
    </div>
  </div>
<% end %>

<table class="table mt-5" style="width: auto;" id="rates_history">
  <thead>
  <tr>
    <th scope="col">Rate</th>
    <th scope="col">Expires</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'rate', collection: @rates %>
  </tbody>
</table>

<script>
    $(function () {
        $('.datepicker').datetimepicker({step: 1});
    });
</script>