<div class="card" style="width: 500px">
  <div class="card-header">
    Actual rate
  </div>
  <div class="card-body" id="rate">
    <% if @rate %>
      <%= @rate.rate %>
    <% else %>
      There is no data :(
    <% end %>
  </div>
</div>